<section class="mx-5 mb-5">
    <h1 class="text-2xl font-bold">Pipes no tan cómunes</h1>
    <h1 class="text-xl font-thin">Pipes incluidos en angular</h1>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <card title="i18nSelectPipe">
        <p>Saludos {{ client().name }}, es un placer {{ client().gender | i18nSelect: invitationMap }} a nuestro evento</p>
        <button class="btn btn-primary" (click)="changeClient()">Click me</button>
    </card>

    <card title="i18nSelectPipe">
        <p>{{ clients().length | i18nPlural: clientsMap() | titlecase }} esperando por entrar</p>
        <button class="btn btn-primary" (click)="deleteClient()">delete</button>
    </card>
</div>

